div.home-page {
  background-image: url("http://imgur.com/6dtvuXQ.png");
  filter: grayscale(20%);
  background-size: cover;
  max-height: 532px;
  padding-bottom: 100px;
  padding-top: 7px;
  text-align: center;
  .login-register{
    .formsBox {
      color: #333;
      ul {
        .form-li {
          list-style: none;
          padding-right: 40px;
          clear: both;
          form {
            background-color: rgba(245, 245, 245, .9);
            padding: 18px;
            input {
              height: 32px;
            }
            &#formOne{
              border-radius: 15px 15px 0 0;
            }
            &#formTwo{
              border-radius: 0 0 15px 15px;
            }
          }
        }
      }
    }
  }
}
