<div class="inbox">
  <h2>INBOX</h2>
  <h4 ng-hide="incoming.transactions.length">No incoming swishes to show</h4>
  <ul>
    <li ng-repeat="transaction in incoming.transactions">
      <div class="row">
        <div class="col-md-4 col-xs-4 one">
          <h3>{{transaction.initiator.firstName}} wants:</h3>
          <div class="image-container">
            <img class="img-fluid" ui-sref="clothesItemsShow({ id : transaction.initial_item._id })" ng-src="{{ transaction.initial_item.image }}" />
          </div>
        </div>

        <div class="col-md-4 col-xs-4 two">
          <h3 ng-show="transaction.response_item">You want</h3>
          <div class="image-container">
            <img class="img-fluid" ng-show="transaction.response_item" ui-sref="clothesItemsShow({ id : transaction.response_item._id})" ng-src="{{ transaction.response_item.image }}" />
          </div>
          <button class="btn btn-success" ui-sref="swishbackIndex( { user : transaction.initiator._id, transaction : transaction._id } )" ng-hide="transaction.response_item" id="view-their-closet">View Their Items</button>
        </div>

        <div class="col-md-4 col-xs-4 three">
          <button class="btn btn-danger" type="button" ng-click="incoming.reject(transaction)">Cancel</button>
        </div>
      </div>
    </li>
  </ul>
</div>
